{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">OLED Display</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Display</a></li>
              <li class="breadcrumb-item active" aria-current="page">Message</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <!-- Dark table -->
  <div class="row">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Set OLED Message</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="sort" data-sort="name">Data</th>
                <th scope="col" class="sort" data-sort="selection">Option</th>
                <th scope="col" class="sort" data-sort="status">Status</th>
                <th scope="col" class="sort" data-sort="remarks">Remarks</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="list">
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="#" class="avatar rounded-circle mr-3">
                      <i class="fa fa-thermometer-half"></i>
                    </a>
                    <div class="media-body">
                      <span class="name mb-0 text-sm">Temperature Data</span>
                    </div>
                  </div>
                </th>
                <td class="selection">
                  <input type="checkbox" class="single-checkbox" name="optionCheckbox" value="temperature" />
                </td>
                <td>
                  <span class="badge badge-dot mr-4" id="temperature">
                    <i class="bg-danger"></i>
                    <span class="status">Inactive</span>
                  </span>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="remarks">Display Sensor Data Here</span>
                  </div>
                </td>
                <td class="text-right">
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="#" class="avatar rounded-circle mr-3">
                      <i class="fa fa-tint"></i>
                    </a>
                    <div class="media-body">
                      <span class="name mb-0 text-sm">Humidity Data</span>
                    </div>
                  </div>
                </th>
                <td class="selection">
                  <input type="checkbox" class="single-checkbox" name="optionCheckbox" value="humidity" />
                </td>
                <td>
                  <span class="badge badge-dot mr-4" id="humidity">
                    <i class="bg-danger"></i>
                    <span class="status">Inactive</span>
                  </span>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="remarks">Display Sensor Data Here</span>
                  </div>
                </td>
                <td class="text-right">
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="#" class="avatar rounded-circle mr-3">
                      <i class="fa fa-map-marker"></i>
                    </a>
                    <div class="media-body">
                      <span class="name mb-0 text-sm">Location Data</span>
                    </div>
                  </div>
                </th>
                <td class="selection">
                  <input type="checkbox" class="single-checkbox" name="optionCheckbox" value="location" />
                </td>
                <td>
                  <span class="badge badge-dot mr-4" id="location">
                    <i class="bg-danger"></i>
                    <span class="status">Inactive</span>
                  </span>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="remarks">Display Sensor Data Here</span>
                  </div>
                </td>
                <td class="text-right">
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% csrf_token %}
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
  $(document).ready(function () {
    let checkboxes = document.querySelectorAll('.single-checkbox');
    checkboxes.forEach(function (checkbox) {
      checkbox.addEventListener('change', function () {
        if (this.checked) {
          checkboxes.forEach(function (innerCheckbox) {
            if (innerCheckbox !== checkbox) {
              innerCheckbox.checked = false;
            }
          });
        }
      });
    });

    $('.single-checkbox').click(function () {
      // CSRF Token needed for Django POST requests
      var csrfToken = $("[name=csrfmiddlewaretoken]").val();

      // Get the value for the OLED type
      var oled_type = $(this).val();

      var matchingSpan = $('span#' + oled_type);
      // Replace the content of the matching span element with the new HTML
      matchingSpan.html('<i class="bg-warning"></i><span class="status">Starting</span>');

      if ($('.single-checkbox:checked').length == 0) {
        Swal.fire({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          text: 'Closing OLED display...',
          timerProgressBar: true,
          didOpen: () => {
            Swal.showLoading();
          }
        });

        // AJAX call for closing OLED
        $.ajax({
          url: "/close_oled_message/",
          type: "POST",
          data: { "option": oled_type },
          headers: { "X-CSRFToken": csrfToken },
          success: function (response) {
            Swal.close();
            Toast.fire({
              icon: 'success',
              text: 'OLED display closed successfully!',
            });
            matchingSpan.html('<i class="bg-danger"></i><span class="status">Inactive</span>');
          },
          error: function (xhr, status, error) {
            console.log("An error occurred:", error);
            Toast.fire({
              icon: 'error',
              text: 'Failed to apply display option: ' + error,
            });
            matchingSpan.html('<i class="bg-success"></i><span class="status">Active</span>');
          }
        });
      } else {
        Swal.fire({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          text: 'Applying ' + oled_type.charAt(0).toUpperCase() + oled_type.slice(1) + '...',
          timerProgressBar: true,
          didOpen: () => {
            Swal.showLoading();
          }
        });

        // AJAX call for setting OLED
        $.ajax({
          url: "/set_oled_message/",
          type: "POST",
          data: { "option": oled_type },
          headers: { "X-CSRFToken": csrfToken },
          success: function (response) {
            Swal.close();
            Toast.fire({
              icon: 'success',
              text: oled_type.charAt(0).toUpperCase() + oled_type.slice(1) + ' applied successfully!',
            });
            matchingSpan.html('<i class="bg-success"></i><span class="status">Active</span>');
          },
          error: function (xhr, status, error) {
            console.log("An error occurred:", error);
            Toast.fire({
              icon: 'error',
              text: 'Failed to apply display option: ' + error,
            });
            matchingSpan.html('<i class="bg-danger"></i><span class="status">Inactive</span>');
          }
        });
      }
    });
  });


</script>
{% endblock javascripts %}