<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPi Camera Stream</title>
</head>
<body>
    <img src="{% url 'camera_feed' %}" alt="Live Camera Feed">
    <button type="button" id="startBtn" class="btn">Start Rec</button>
    <button type="button" id="stopBtn" class="btn">Stop Rec</button>
</body>
</html>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/assets/js/test.js?v=1.2.0"></script>